<script>
DrawerController.index();
</script>
<h3 style="padding-left:10px; padding-bottom:-50px;">AllFreeCrochet</h3>
<div class="topcoat-list__container">
  <h3 class="topcoat-list__header">Categories</h3>
  <ul class="topcoat-list">
    <li class="topcoat-list__item" id="home">Home</li>
    <li class="topcoat-list__item" id="Accessories">Accessories</li>
    <li class="topcoat-list__item" id="Afghans">Afghans</li>
    <li class="topcoat-list__item" id="Baby">Baby</li>    
    <li class="topcoat-list__item" id="Children">Children</li>
    <li class="topcoat-list__item" id="Designer">Designer</li>
    <li class="topcoat-list__item" id="Hats">Hats</li>
    <li class="topcoat-list__item" id="Holiday">Holiday</li>
    <li class="topcoat-list__item" id="Scarves">Scarves</li>   
    <li class="topcoat-list__item" id="Shawls">Shawls</li>
    <li class="topcoat-list__item" id="Sweaters">Sweaters</li>
  </ul>
</div>