<script>
  ArticleController.index();
</script>

 <div class="spinnerG" id="loading" style="border-bottom: none; border-top: none;">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>


 <center>

<div id ="error" style="border-bottom: none;">
  <p visibility="hidden">There was an error fetching the articles. Please check your internet connection and try again.</p>
  <button id="refresh" class="topcoat-button--cta">Refresh the Articles</button>
  </center>
</div>

<div class="buzzfeed"></div>

<div class="topcoat-list__container" style="border-bottom: none; border-top: none;">
  <ul class="topcoat-list" style="border-bottom: none; border-top: none;">
  </ul>
</div>

<center>
	<div id= "showMoreiPad" style="padding:10px; border-bottom: none; border-top: none;">
		<button class="topcoat-button--cta">Show More</button>
	</div>

  <div id= "showMore" style="padding:10px; border-bottom: none; border-top: none;">
    <button class="topcoat-button--cta">Show More</button>
  </div>

<center>