<script>
  ArticleController.show();
</script>

<div class="content-padded">

<div class="list card">

  <div class="item item-avatar">
    <img src="">
    <h2 class="cardh2" id="show-id"></h2>
    <p id="pubDate"></p>
    <p id="author"></p>

  </div>

  <div class="item item-body">
    <img class="full-image" id="image">
    <p style="font-size:16px;" id="description">
      
    </p>
    <p id="crafting">
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" id="read">
      <i class="icon ion-earth"></i>
      Read Online
    </a>
    <a class="tab-item share">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>

</div>